#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f8f8f8;
    height: 51px;
}

#footer div {
    position: relative;
    top: 33%;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    position: relative;
    min-height: 100vh;
    display: block;
    padding-bottom: 70px;
}